.map {
  
	position: relative;
	width: 100%;
	height: 520px;
	border:#555555 2px solid;
}

/* MEDIA STYLE */
@media (max-width: 980px) {
  h2 {
      padding-top: 20px;
  }

  .map {
  	display: none;
  }

  .info_track {
  	display: none;
  }
}

@media (min-width: 980px) {
  .info_map_mobile {
  	display: none;
  }
}