.interval-pushpin
{
	background-repeat:no-repeat;
	position: relative;
	top: 5px;
	left: 18px;
}

.interval-pushpin-deb
{
	background-image: url(../images/blue_pushpin.png);

}

.interval-pushpin-end
{
	background-image: url(../images/default_pushpin.png);
}

.interval-text
{
	position: relative;
	top: -6px;
	color: white;
}

.interval-text-supten
{
	position: relative;
	top: -6px;
	left: -4px;
	color: white;
}